<nav class="navbar bg-base-200 shadow-md">
  <div class="flex-1">
    <a href="/" class="btn btn-ghost normal-case text-xl">Climate Solutions</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><a href="/about">About</a></li>
      <li>
        <details>
          <summary>Sector</summary>
          <ul class="p-2 bg-base-100 z-50">
            <li><a href="/solutions/projects?sector=Electricity">Electricity</a></li>
            <li><a href="/solutions/projects?sector=Industry">Industry</a></li>
            <li><a href="/solutions/projects?sector=Transportation">Transportation</a></li>
            <li><a href="/solutions/projects?sector=Buildings">Buildings</a></li>
            <li><a href="/solutions/projects?sector=Food">Food</a></li>
          </ul>
        </details>
      </li>
    </ul>
  </div>
</nav>
