<!DOCTYPE html>
<html data-theme="dim">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>About</title>
  <link href="/css/main.css" rel="stylesheet">
</head>
<body>
  <%- include('partials/navbar') %>

  <div class="container mx-auto p-6">
    <div class="hero bg-base-200 rounded-xl p-8 mb-8">
      <div class="text-center">
        <h1 class="text-4xl font-bold mb-2">About Me</h1>
      </div>
    </div>
    <center>
              <h2 class="text-2xl font-semibold mb-2">Hi, I'm Varinder Kaur!</h2>
    </center>
        <p class="prose">
          <center>
            I'm a Seneca Polytechnic student studying Web Development. I enjoy backend programming with Node.js and Express,
          and I built this site to explore sustainability solutions through clean UI and responsive design using Tailwind and DaisyUI.
          </center>
        </p>
      </div>
    </div>
  </div>
</body>
</html>
